spring:
  application:
    name: salaryflow
  datasource:
    url: jdbc:postgresql://localhost:5432/employees
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  data:
    mongodb:
      uri: mongodb://mongo:mongo@localhost:27017/
      database: testdb

    redis:
      port: 6379
      host: localhost

server:
  port: 8080